.details-container{
    margin-top:var(--header-height);
    color: var(--white);
    min-height: 100vh;
}

.details-light{
    background-color: var(--white);
    color: black;
}

.trailer-container{
    position:relative;
    padding-top:56.25%;
}

.trailer-player{
    position: absolute;
    top: 0;
    left: 0; 
}

.trailer-container-blank{
    position:relative;
    padding-top:56.25%;
    color:var(--red);
}
.trailer-container-blank p{
    background-color:var(--dark-bg)
}

.details-poster{
    width:280px;
    border-radius: 8px;
}

.moviedetails-info{
    display: flex;
    
}

.moviedetails-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}