.details-container{
    margin-top: var(--header-height);
    color: var(--white);
    min-height:100vh;
}

.tailer-container{
    position: relative;
    padding-top:56.25%;
}

.trailer-player{
    position:absolute;
    top:0;
    left:0;
}