.homepage-container{
    margin-top: var(--header-height);
    color: var(--white);
}

.homepage-light{
    background-color: var(--white);
    color: black;
}

.movies-wrapper{
    display: flex;
}

.popular-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.top-reated-container{
    width: 40%;
}

.page-numbers{
    display: flex;
    justify-content: space-around;
    width: 60%;
    cursor: pointer;
}